/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/public-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Fonts: options
*************************************** */
@import '@fontsource-variable/dm-sans';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/nunito-sans';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
/* === Scrollbar Styling (for the entire app) === */

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 6px;           /* thin scrollbar */
  height: 6px;          /* thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* or rgba(0,0,0,0.05) */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

/* Firefox */
* {
  scrollbar-width: thin;               /* makes it smaller */
  scrollbar-color: rgba(100,100,100,0.4) transparent;
}
